@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'EarlyGameBoy';
    src: url('../src/font/Early\ GameBoy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'EarlyGameBoy', sans-serif;
    background-image: url('./img/fondo_body.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    color: #f1f1f1;
    /* overflow: hidden; */
  }

.cuerpo{
    grid-template-columns: 1fr 80vw 1fr;
}

.pokedex {
    position: relative;
    width: 100vw; /* Ancho del viewport */
    height: 100vh; /* Alto del viewport */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}


.pantalla1{
    position: absolute;/* Fija la posición dentro de .pokedex */
    background-color: rgb(8, 8, 8);
    top: 29.5%;
    left: 9.2%;
    height: 32vh;
    width: 35%;
    border-radius: 10px;
    border: solid 3px black;
    overflow: hidden;
    overflow-y: auto;
}

.pantallaTipo {
    position: absolute;
    top: 61.3%;
    left: 20%;
    width: 19.3vw;
    height: 6vh;
    
    overflow: hidden; /* Evita el desbordamiento */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pantallaTipo .pant_tipo_hijo {
    position: relative; /* Cambiado de absolute a relative */
    display: flex; /* Alinea los elementos de forma horizontal */
    flex-wrap: wrap; /* Permite que las etiquetas pasen a la siguiente fila */
    gap: 4px; /* Añade un poco de espacio entre las etiquetas */
    width: 100%; /* Asegura que las etiquetas respeten el ancho del contenedor */
    height: auto; /* Ajusta automáticamente la altura según el contenido */
   
}





/* Estilo para el nombre del Pokémon */
.nombre_img {
    color: #22C4EA; /* Amarillo Pokémon */
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    font-family: 'EarlyGameBoy', sans-serif;

}

/* Imagen del Pokémon */
.pant1_img img {
    image-rendering: pixelated;
    width: auto; 
    height: 13vw; 
    border-radius: 5px;
}





.pantalla2{
    position: absolute; 
    background-color: rgb(8, 8, 8);
    top: 33%;
    left: 60%;
    height: 18vh;
    width: 25vw;
    border-radius: 10px;
    border: solid 3px black;   
    overflow: hidden; 
    overflow-y: auto;
}

.pantalla3{
    position: absolute;
    height: 10.4vh;
    width: 12.7vw;
    bottom: 9%;
    left: 14.2%;
    border-radius: 1vw;
    border: solid 3px black;    
    padding: 1%;
    font-size: 85%;
}

.pantalla4 .pant4_1 {
    background-color: #E3E3E3;
    bottom: 10%;
    left: 76%;
    height: 8.5vh;
    width: 18.5vw;
    border-radius: 10px;
    border: solid 3px black;
    position: absolute;
    overflow: hidden; 
    padding: 1%;

    overflow-y: auto;
}




